*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

}

.container{

width:min(var(--container),92%);

margin:auto;

}

section{

padding:120px 0;

}

img{

display:block;

max-width:100%;

}
